//@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");//

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Bold.woff2") format("woff2"), url("../fonts/Overpass-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// основной шрифт и размер //

$fontFamily: "Open Sans", sans-serif;
$fontWeight: 400;
$fontSize: 20px;
$mainColor: #100c46;

@import "_null";

//============= Общие стили  ===============//

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  //max-width: 1300px; // сначала контейнер был 1270 как на макете, стал 1300 изза padding 30px
  //margin: 0px auto;
  padding: 0px 85px;
  @media (max-width: 1200px) {
    padding: 0px 15px;
  }
  @media (max-width: 1087px) {
    // max-width: 970px;
  }
  @media (max-width: 991.98px) {
    // max-width: 750px;
  }
  @media (max-width: 767.98px) {
    // max-width: none;
  }
}

[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//================ Общие стили  ===============//

//================ header  ===================//
.header {
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  // .header__logo

  &__logo {
    padding: 17px 0px 17px 20px;
  }

  // .header__social

  &__social {
  }
}
.social-header {
  padding: 20px;
  display: flex;
  gap: 25px;
  background-color: #6257fe;
  // .social-header__item

  &__item {
  }
}

//=================== header  ===================//

//=================== main  ====================//
.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // .page__section

  &__section {
  }
}
.main {
  //flex: 1 0 100%; еще не понравилось
  //display: flex;
  background-color: #6257fe;
  // .main__container

  &__container {
    display: flex;
    //flex: 1 1 auto; еще не понравилось
    min-height: 100vh;
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  // .main__body

  &__body {
    flex: 0 0 40.23%;
    align-self: center;
    padding: 100px 20px 100px 0px;
    @media (max-width: 1200px) {
      flex: 0 0 41.5%;
    }
    @media (max-width: 767.98px) {
      align-self: stretch;
      padding: 100px 0px 30px 0px;
    }
  }

  // .main__header

  &__header {
    color: #fff;
    .header-block__label {
      color: #fff;
    }
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  // .main__text

  &__text {
    color: #fff;
    max-width: 400px;
    &:not(:last-child) {
      margin: 0px 0px 67px 0px;
    }
    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 30px 0px;
      }
    }
  }

  // .main__button

  &__button {
  }

  // .main__image

  &__image {
    flex: 1 1 auto;
    position: relative;
    //padding: 0px 0px 70.9% 0px;первый вариант не понравился
    margin: 0px -85px 0px 0px;
    @media (max-width: 1200px) {
      margin: 0px -15px 0px 0px;
      //padding: 0px 0px 62.5% 0px; первый вариант не понравился
    }
    @media (max-width: 767.98px) {
      margin: 0px -15px;
      padding: 0px 0px 95% 0px;
    }
  }

  // .main__picture

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

//=========== общие блоки  =================//
.header-block {
  // .header-block__label

  &__label {
    font-size: 16px;
    line-height: 1.37;
    &:not(:last-child) {
      margin: 0px 0px 7px 0px;
    }
    color: #6257fe;
  }

  // .header-block__title

  &__title {
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.26;
    @media (max-width: 1200px) {
      font-size: 44px;
    }
  }
}
.text {
  line-height: 1.6;
  p {
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }
  }
}
.button {
  display: inline-block;
  padding: 19px 46px;
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: #100c46;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  text-align: center;
  &:hover {
    background-color: #100c46;
    color: #fff;
  }
  @media (max-width: 767.98px) {
    width: 100%;
  }
}
//=========== общие блоки =================//

//=================== main ===================//

//=================== about =================//

.about {
  position: relative;
  padding: 150px 0px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #100c46;
  }
  @media (max-width: 1200px) {
    padding: 50px 0px;
  }
  @media (max-width: 991.98px) {
    background-color: #100c46;
    padding: 50px 0px 0px 0px;
    &::before {
      display: none;
    }
  }
  // .about__container

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    //align-items: center;
    align-items: flex-start;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  // .about__body

  &__body {
    flex: 0 1 50%;
    align-self: center;
    padding: 0px 160px 0px 0px;
    @media (max-width: 991.98px) {
      padding: 0;
      margin: 0px 0px 30px 0px;
    }
  }

  // .about__header

  &__header {
    color: #6257fe;
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .about__text

  &__text {
    color: rgba(255, 255, 255, 0.8);
  }

  // .about__image

  &__image {
    position: relative;
    flex: 1 1 auto;
    padding: 0px 0px 47.5% 0px;
    margin: 0px 0px 0px -113px;
    filter: drop-shadow(0px 10px 50px rgba(16, 12, 70, 0.2));
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 991.98px) {
      margin: 0px -15px;
    }
  }
}
//=================== about ====================//

//=================== services ================//

.services {
  overflow: hidden;
  @media (max-width: 991.98px) {
    background-color: #6257fe;
  }
  // .services__container

  &__container {
    display: flex;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  // .services__body

  &__body {
    flex: 0 0 54.8%;
    //align-self: center;
    padding: 30px 40px 30px 0px;
    @media (max-width: 991.98px) {
      flex: 1 1 auto;
      background-color: #fff;
      margin: 0px -15px;
      padding: 40px 15px;
    }
  }

  // .services__header

  &__header {
    &:not(:last-child) {
      margin: 0px 0px 70px 0px;
    }
    @media (max-width: 1200px) {
      margin: 0px 0px 40px 0px;
    }
  }

  // .services__items

  &__items {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    @media (max-width: 650px) {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
    }
  }

  // .services__item

  &__item {
  }

  // .services__media

  &__media {
    position: relative;
    padding: 165px 0px;
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      top: 50%;
      transform: translate(0px, -50%);
      left: 64px;
      height: 200vh;
      background-color: #6257fe;
    }
    @media (max-width: 1520px) {
      padding: 100px 0px;
    }
    @media (max-width: 991.98px) {
      padding: 40px 0px 100px 0px;
      &::before {
        display: none;
      }
    }
  }

  // .services__image

  &__image {
    max-width: 427px;
    position: relative;
    z-index: 2;
    img {
      width: 100%;
    }
  }

  // .services__phone

  &__phone {
    width: 342px;
    z-index: 2;
    position: absolute;
    left: 290px;
    bottom: -20px;
    display: inline-block;
    img {
      width: 100%;
    }
    @media (max-width: 1320px) {
      left: 0px;
      bottom: 0px;
      width: 60%;
    }
  }
}

.item-services {
  // .item-services__icon

  &__icon {
    margin: 0px 0px 14px 0px;
  }

  // .item-services__title

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.45;
    display: flex;
    align-items: center;
    margin: 0px 0px 22px 0px;
    &::before {
      content: "";
      height: 1px;
      flex: 1 1 auto;
      background-color: #100c46;
      margin: 0px 10px 0px 0px;
    }
  }

  // .item-services__text

  &__text {
    font-size: 20px;
    line-height: 1.6;
    color: rgba(16, 12, 70, 0.8);
  }
}

//=================== services ===================//

//=================== portfolio =================//

.portfolio {
  padding: 145px 0px;
  @media (max-width: 1200px) {
    padding: 50px 0px 50px 0px;
  }
  // .portfolio__container

  &__container {
  }

  // .portfolio__header

  &__header {
    &:not(:last-child) {
      margin: 0px 0px 60px 0px;
    }
    @media (max-width: 1200px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  // .portfolio__items

  &__items {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 767.98px) {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .portfolio__item

  &__item {
    position: relative;
    padding: 0px 0px 135% 0px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.header-block {
  // .header-block_center

  &_center {
    text-align: center;
  }
}

//=============== portfolio ==================//

//=============== team ======================//

.team {
  padding: 30px 0px 150px 0px;
  @media (max-width: 1200px) {
    padding: 0px 0px 50px 0px;
  }
  // .team__container

  &__container {
  }

  // .team__header

  &__header {
    &:not(:last-child) {
      margin: 0px 0px 60px 0px;
    }
    @media (max-width: 1200px) {
      &:not(:last-child) {
        margin: 0px 0px 20px 0px;
      }
    }
  }

  // .team__items

  &__items {
    display: grid;
    gap: 23px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 991.98px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 767.98px) {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .team__item

  &__item {
  }
}
.header-block {
  // .header-block_center

  &_center {
    text-align: center;
  }
}

.item-team {
  position: relative;
  // .item-team__image

  &__image {
    position: relative;
    padding: 0px 0px 135% 0px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .item-team__info

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(98, 87, 254, 0.8);
  }

  // .item-team__body

  &__body {
    color: #ffffff;
    flex: 1 0 auto;
  }

  // .item-team__title

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    margin: 0px 0px 5px 0px;
  }

  // .item-team__position

  &__position {
    font-size: 14px;
    line-height: 2.28;
  }

  // .item-team__social

  &__social {
  }
}
.social-item {
  display: flex;
  gap: 13px;
  // .social-item__item

  &__item {
  }
}

//============== team =======================//
